<!-- <div style="text-align:center">
    <button class="btn btn-primary" (click)='createBlockchain()'
    *ngIf='datadir'>
        Create
    </button>
    <input type="text" [(ngModel)]='datadir'/>
    <button class="btn btn-primary" (click)='uploadImage(id)'>
        Upload
    </button>
    <input type="text" #id/>
</div> -->
<div class="container" style="text-align: center">
    <div class="jumbotron">
        <div class="col-lg-4">
            <button type="button" class="btn btn-primary btn-block" (click)='createBlockchain()'>CreateBlockchain</button>
            <input type="text" [(ngModel)]='datadir' />
            <button type="button" class="btn btn-primary btn-block" (click)='connectToBlockchain()'>ConnectToBlockchain</button>
        </div>
    </div>
    <div class="jumbotron">
        <div class="col-lg-4">
            <button type="button" class="btn btn-primary btn-block" (click)='uploadId(id.value)'>UploadImage</button>
            <input type="text" #id />
            <button type="button" class="btn btn-primary btn-block" (click)='getId()'>GetId</button>
        </div>
    </div>
</div>